@import 'nib'
@import '../../node_modules/jeet/styl/'
@import '_mixins.styl'

// Media queries
$xl = 1600px
$lg = 1260px
$md = 900px
$sm = 767px

// Colors
$primary ?= #fff
$secondary ?= #000
$accent ?= #ff0000

// Metrics
$padding = 3rem
$spaceBetween = 13rem
$kinetic = cubic-bezier(0.77, 0, 0.175, 1)

// CSS Reset
global-reset()

//Juicer
@import 'juicer.styl'

webfont('DINBold', 'DINBold', false, 'normal')
webfont('DINCondensedBold', 'DINCondensedBold', false, 'normal')
webfont('PalatinoLTStdRoman', 'PalatinoLTStdRoman', false, 'normal')
webfont('PalatinoLTStdItalic', 'PalatinoLTStdItalic', false, 'italic')
webfont('PalatinoLTStdBold', 'PalatinoLTStdBold', false, 'normal')

// ::-webkit-scrollbar
// 	display none

body,html
	width 100%
	-webkit-text-size-adjust 100%
	background $primary

html
	font-size 62.5%
	+below($md)
		font-size 43%
	+below($sm)
		font-size 33%
	&.no-scroll
		overflow hidden !important
		body
			overflow hidden !important

body
	font-family 'PalatinoLTStdRoman', Helvetica Neue, Arial, sans-serif
	font-size 2rem
	text-rendering optimizeLegibility
	font-smoothing()
	color $secondary

p
	margin-bottom 1em
	line-height 130%
	+below($md)
		font-size 2.7rem

p:last-child
	margin-bottom 0

em
	font-family 'PalatinoLTStdItalic'

strong
	font-family 'PalatinoLTStdBold'

.lead strong
	font-family 'DINCondensedBold'
	position relative
	&::after
		content ''
		position absolute
		bottom 0
		left 0
		height 2px
		width 100%
		background $secondary

h1, h2, .selector, .lead, .exergue
	text-transform uppercase
	font-family 'DINCondensedBold'

.primary-credits, .image-credits
	a, strong
		text-transform uppercase
		font-family 'DINBold'

h1.title, h2.title
	font-size 7.5rem

h1, h2, .selector, .exergue-section .exergue
	font-size 3.1rem
	+below($md)
		font-size 5rem

#page-infos h2, .project-item h2
	font-size 2.5rem

#mainSelector ul li
	font-size 4.5rem
	+below($md)
		font-size 6rem

.logo-title
	margin-top 1em
	+below($md)
		display none

.lead
	font-size 2.5rem

.small, #selectorHelp, .people-item p, .primary-credits, .image-credits
	+above($md + 1)
		font-size 1.4rem

[event-target]
	cursor pointer

[event-target="feed"]
	position relative
	&::after
		transition(transform 300ms ease)
		content url(../../images/itw-arrow-b.svg)
		transform-origin center
		position absolute
		bottom -.9em
		width .8em
		align(horizontal)
	&:hover::after
		+above($md + 1)
			transform translate(-50%, 20%)

::selection
	background $secondary
	
::-moz-selection
	background $secondary

*
	hideselect()
	box-sizing(border-box)

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

.lazyimg
	transition(opacity 600ms ease)
	opacity 0

.lazyimg.lazyloaded
	opacity 1

.embed__thumb>img
	transition(all 300ms ease)
	opacity 1
	max-width 100px

.embed__thumb:hover>img
	filter(drop-shadow(0 0 8px alpha($secondary,0.7)))

.embed--video
	background $primary

.ias-loading
	padding 1em 0

.row
	span(1)

.cf
	clear both !important

for n in 1..12
	.grid-item.col-{n}
		column(n/12)
		+below($md)
			stack()
	.grid-item.span-{n}
		span(n/12)
		+below($md)
			stack()
	for i in 1..12
		.grid-item.span-{n}.off-{i}
			span(n/12, $offset: i/12)
			+below($md)
				stack()

for n in 1..10
	.pt-{n}
		padding-top (n * 1rem)
	.pb-{n}
		padding-bottom (n * 1rem)
	[md~=pb-{n}]
		+below($md)
			padding-bottom (n * 1rem)

.left
	text-align left !important
	p
		text-align left !important

.center
	text-align center !important
	
.right
	text-align right !important

[md~=center]
	+below($md)
		text-align center !important

.fit-h
	text-align center !important
	+below($md)
		margin-bottom $spaceBetween
	img
		width 100%
		height auto
		+below($md)
			max-width 400px
		+above($md + 1)
			display inline-block
			width auto
			height 100vh
			//padding 11.5rem 0 3rem
			padding 15rem 0 5rem
	&.medium img
		+above($md + 1)
			padding 18vh 0 15vh
	&.small img
		+above($md + 1)
			padding 28vh 0 25vh

img.small
	+above($md + 1)
		padding 0 25%
		
img.medium
	+above($md + 1)
		padding 0 15%

figure
	margin 0
	margin-bottom 1em
	&.small
		+above($md + 1)
			padding 0 35%
	&.medium
		+above($md + 1)
			padding 0 25%
	img, img.small, img.medium
		padding 0

figcaption
	margin-top .6em

#scroll-to-top
	position fixed
	left 0
	bottom ($padding / 2)
	height 1.3em
	width 100%
	display none
	span::after
		cursor pointer
		transform-origin center
		position absolute
		bottom 0
		width 1.3em
		transition transform 300ms ease
		transform translateX(-50%) rotate(180deg)
		content url(../../images/itw-arrow-b.svg)
	&:hover
		span::after
			+above($md + 1)
				transform translate(-50%, -20%) rotate(180deg)

.dark #scroll-to-top
	span::after
		content url(../../images/itw-arrow-w.svg)
		

@import 'loader.styl'
@import 'selector.styl'

header
	position fixed
	width 100%
	top 0
	left 0
	padding $padding 0
	text-align center
	z-index 1000
	#site-title
		position relative
		z-index 1000
		h1
			+below($md)
				font-size 5rem
	&::before
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 12rem
		z-index 0
		+above($md + 1)
			background linear-gradient(180deg, alpha($primary, 0.8) 15%, alpha($primary, 0) 100%)

#container, .contained
	span(1)
	padding 0 12.5%
	+below($md)
		padding 0 2rem 0 3rem
	+above($xl)
		padding 0 30%

#container
	transition(opacity 600ms ease)

#container.edito
	padding 0

#feed
	padding 20rem 0

.edito-infos
	.primary-credits, .image-credits
		span(1/4)
		padding-right 7rem
		display inline-block
		text-align left
		margin-bottom 5rem
		+below($md)
			width 50%
			text-align left
		em
			font-family 'PalatinoLTStdRoman'
			font-style normal
			text-decoration underline
			-webkit-text-decoration-skip ink
			text-decoration-skip ink
		&.last
			//margin-right 0
	.text-credits
		&:not(.row)
			+above($md + 1)
				padding-right 7rem
		&.lead
			margin-bottom 2rem
			+below($md)
				margin-bottom 5rem
		&.last
			//margin-right 0
			margin-bottom 0
	.off-4_5
		+above($md + 1)
			margin-left 37.5% !important
	.off-3
		+above($md + 1)
			margin-left 25% !important
	.off-1_5
		+above($md + 1)
			margin-left 12.5% !important
	.off-6
		+above($md + 1)
			margin-left 50% !important
	.row
		span(1)

.image-credits
	display none

.edito.image-content
	+below($md)
		padding 0 2rem
	img
		cursor pointer

#infos-overlay
	display none
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	padding-top 17rem
	background-color alpha($primary,0.5)
	justify-content center
	flex-wrap wrap
	//pointer-events none
	cursor url('../../images/close-b.png') 8 8, default
	.primary-credits
		span(1/4)
		padding-right 2rem
		margin-bottom 5rem
		+below($md)
			span(1/2)
	.image-credits
		span(1/4)
		padding-right 2rem
		margin-bottom 5rem
		display block
		+below($md)
			span(1/2)
		em
			font-family 'PalatinoLTStdRoman'
			font-style normal
			text-decoration underline
			-webkit-text-decoration-skip ink
			text-decoration-skip ink

#page-content
	span(1)
	#page-infos
		margin-top 20rem
	#essay-content
		margin-bottom $spaceBetween
		img
			display block
		h1,h2,h3,h4
			text-align center
			margin-bottom 1em
		.embed:not(:last-child)
			margin-bottom $spaceBetween
		p
			+above($md + 1)
				line-height 155%
				padding 0 10%
			+below($md)
				line-height 145%
				font-size 3rem
				letter-spacing .02em
		.embed.embed--video
			width 80%
			margin-left auto
			margin-right auto
	section:not(:first-child), .image-content:not(:first-child):not(.fit-h)
		span(1)
		margin-top $spaceBetween
	section:last-child, .image-content:last-child:not(.fit-h)
		margin-bottom $spaceBetween
	section.exergue-section
		margin 1rem 0
	p + section.exergue-section
		margin-top 0
		.exergue, .exergue.align-right
			span(1/2, $offset: 1/2)
			+below($md)
				span(2/3, $offset: 1/3)
		.exergue.align-center
			span(1/2, $offset: 1/4)
			text-align center
			+below($md)
				span(2/3, $offset: 1/6)
		.exergue.align-left
			span(1/2)
			+below($md)
				span(2/3)
	section.interview-section
		margin-top 0
		img
			display block
		p
			+above($md + 1)
				line-height 155%
			+below($md)
				line-height 145%
				font-size 3rem
				letter-spacing .02em
		.question
			width 70%
			position relative
			padding-left 1.2em
			margin-bottom 1em
			cursor pointer
			+below($md)
				width 100%
			&::before
				content url(../../images/itw-arrow-b.svg)
				transform-origin center
				position absolute
				top .2em
				left 0
				width .8em
		.answer
			display none
			margin-bottom 1em
			+above($md + 1)
				margin-left 3em
		&.open
			.question::before
				transform rotate(180deg) translateY(30%)

#related-projects
	margin-bottom $spaceBetween
	text-align center
	.project-item
		display inline-block
		position relative
		cursor pointer
		margin-bottom 3%
		overflow-y hidden
		+above($md + 1)
			column(1/3, $cycle: 3)
			height 34.7vw
		+above($xl)
			height 18vw
		+below($md)
			column(1/2, $cycle: 2)
			height 67vw
		a, img
			display block
		img
			transition(opacity 2000ms ease)
			//opacity 0.7
		a
			display block
		.overlay
			transition(opacity 300ms ease)
			opacity 1
			//background alpha($primary,0.2)
			position absolute
			top 0
			left 0
			height 100%
			width 100%
			text-align center
			.inner
				align(vertical)
				position relative
				width 90%
				margin-left auto
				margin-right auto
				//vendor(filter, drop-shadow(0 0 10px $primary))
		.overlay.dark
			color $primary
			.inner
				vendor(filter, drop-shadow(0 0 10px $secondary))
	.project-item:not(.no-featured):hover
		img
			+above($md + 1)
				opacity 1
		.overlay
			+above($md + 1)
				opacity 0

nav#pagination
	span(1)
	.next, .prev
		display block
		float left
	.prev
		float right

#everyone
	.people-item
		column(1/3, $cycle:3)
		margin-bottom 1em
		+below($md)
			column(1/2, $cycle:2)
		+below($sm)
			stack()
		p
			margin-top -.2em
			padding-left 3rem

body.opacify
	#container
		opacity 0.6

html.dark
	background $secondary
	body
		background $secondary
		color $primary
	.loader
		background $secondary
		color $primary
	header
		&::before
			+above($md + 1)
				background linear-gradient(180deg, alpha($secondary, 0.8) 15%, alpha($secondary, 0) 100%)
	[event-target="feed"]::after
		content url(../../images/itw-arrow-w.svg)
	#mobile-selector h2::after
		background $primary
	#mainSelector, #smallSelector
		.groupSelector
			ul.selector
				li
					span::after
						background $primary
					&:hover:not(.is-selected), &.highlight
						span
							color $secondary
		ul.selector.is-selecting
			cursor url('../../images/close-w.png') 8 8, default
			li
				cursor url('../../images/close-w.png') 8 8, default
		#selectorSubmit
			h2::after
				background $primary
			h2:hover
				+above($md + 1)
					color $secondary
			h2.is-selected
				color $secondary
			h2.is-selected.blink
				animation blink-font-dark 2s linear infinite
	#page-content
		section.interview-section
			.question
				&::before
					content url(../../images/itw-arrow-w.svg)
	#infos-overlay
		background-color alpha($secondary,0.5)
		cursor url('../../images/close-w.png') 8 8, default

body.loaded
	overflow initial

body.leaving
	cursor wait
	#mainSelector, #smallSelector
		.groupSelector
			ul.selector.is-selecting
				cursor wait
				li
					cursor wait