@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'

// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= #fff
$secondary ?= #000
$accent ?= #ff0000

// Metrics
$padding = 3rem
$spaceBetween = 10rem
$kinetic = cubic-bezier(0.77, 0, 0.175, 1)

// CSS Reset
global-reset()

webfont('DINCondensedBold', 'DINCondensedBold', false, 'normal')
webfont('PalatinoLTStdRoman', 'PalatinoLTStdRoman', false, 'normal')
webfont('PalatinoLTStdItalic', 'PalatinoLTStdItalic', false, 'italic')
webfont('PalatinoLTStdBold', 'PalatinoLTStdBold', false, 'normal')

body,html
	width 100%
	-webkit-text-size-adjust 100%
	background $primary

html
	font-size 62.5%

body
	font-family 'PalatinoLTStdRoman', Helvetica Neue, Arial, sans-serif
	font-size 2rem
	text-rendering optimizeLegibility
	font-smoothing()
	color $secondary
	overflow hidden

p
	margin-bottom 1em
	line-height 130%

p:last-child
	margin-bottom 0

em
	font-family 'PalatinoLTStdItalic'
	font-style italic

strong
	font-family 'PalatinoLTStdBold'

.lead strong
	font-family 'DINCondensedBold'
	position relative
	&::after
		content ''
		position absolute
		bottom 0
		left 0
		height 2px
		width 100%
		background $secondary

h1, h2, .selector, .lead, .exergue
	text-transform uppercase
	font-family 'DINCondensedBold'

h1.title
	font-size 9rem

h1, h2, .selector
	font-size 3.1rem

#mainSelector ul li, .exergue
	font-size 4.5rem

.lead
	font-size 2.5rem

.small, #selectorHelp
	font-size 1.4rem

[event-target]
	cursor pointer

[event-target="feed"]
	position relative
	&::after
		transition(transform 300ms ease)
		content url(../../images/itw-arrow-b.svg)
		transform-origin center
		position absolute
		bottom -.9em
		width .8em
		align(horizontal)
	&:hover::after
		transform(translate(-50%, 20%))	

::selection
	background $secondary
	
::-moz-selection
	background $secondary

*
	hideselect()
	box-sizing(border-box)

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

.lazyimg
	transition(opacity 600ms ease)
	opacity 0

.lazyimg.lazyloaded
	opacity 1

.embed__thumb>img
	transition(all 300ms ease)
	opacity 1
	max-width 100px

.embed__thumb:hover>img
	filter(drop-shadow(0 0 8px alpha($secondary,0.7)))

.embed--video
	background $primary

.row
	span(1)

.cf
	clearfix()

for n in 1..12
	.grid-item.col-{n}
		col(n/12)
		+below($md)
			stack()
	.grid-item.span-{n}
		span(n/12)
		+below($md)
			stack()
	for i in 1..12
		.grid-item.span-{n}.off-{i}
			span(n/12, offset: i/12)
			+below($md)
				stack()

for n in 1..10
	.pt-{n}
		padding-top (n * 1rem)
	.pb-{n}
		padding-bottom (n * 1rem)

.left
	text-align left !important

.center
	text-align center !important
	
.right
	text-align right !important

.fit-h
	text-align center !important
	img
		display inline-block
		width auto
		height 100vh
		//padding 11.5rem 0 3rem
		padding 15rem 0 5rem
	&.medium img
		padding 18vh 0 15vh
	&.small img
		padding 28vh 0 25vh

@import 'loader.styl'
@import 'selector.styl'

header
	position fixed
	width 100%
	top 0
	left 0
	padding $padding 0
	text-align center
	z-index 1000
	#site-title
		position relative
		z-index 10
	&::before
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 12rem
		z-index 0
		background linear-gradient(180deg, alpha($primary, 0.8) 15%, alpha($primary, 0) 100%)

#container
	transition(opacity 800ms ease)
	span(1)
	padding 0 12.5%

#page-content
	span(1)
	#page-infos
		margin-top 20rem
	#essay-content
		margin-bottom $spaceBetween
		p
			padding 0 10%
		.embed.embed--video
			width 80%
			margin-left auto
			margin-right auto
	section:not(:first-child), .image-content:not(:first-child):not(.fit-h)
		span(1)
		margin-top $spaceBetween
	section:last-child, .image-content:last-child:not(.fit-h)
		margin-bottom $spaceBetween
	section.exergue-section
		margin 1rem 0
	p + section.exergue-section
		margin-top 0
		.exergue, .exergue.align-right
			span(1/2, offset: 1/2)
		.exergue.align-center
			span(1/2, offset: 1/4)
			text-align center
		.exergue.align-left
			span(1/2)
	section.interview-section
		margin-top 0
		.question
			width 70%
			position relative
			padding-left 1.2em
			margin-bottom 1em
			cursor pointer
			&::before
				content url(../../images/itw-arrow-b.svg)
				transform-origin center
				position absolute
				top .2em
				left 0
				width .8em
		.answer
			display none
			margin-bottom 1em
			margin-left 3em
		&.open
			.question::before
				transform(rotate(180deg) translateY(30%))

#related-projects
	margin-bottom $spaceBetween
	text-align center
	.project-item
		col(1/3, cycle: 3)
		display inline-block
		position relative
		cursor pointer
		margin-bottom 3%
		min-height 35vw
		img
			transition(opacity 2000ms ease)
			//opacity 0.7
		a
			display block
		.overlay
			transition(opacity 300ms ease)
			opacity 1
			//background alpha($primary,0.2)
			position absolute
			top 0
			left 0
			height 100%
			width 100%
			text-align center
			.inner
				align(vertical)
				position relative
				width 90%
				margin-left auto
				margin-right auto
		.overlay.dark
			color $primary
	.project-item:not(.no-featured):hover
		img
			opacity 1
		.overlay
			opacity 0

body.opacify
	#container
		opacity 0.7

html.dark
	background $secondary
	body
		background $secondary
		color $primary
	header
		&::before
			background linear-gradient(180deg, alpha($secondary, 0.8) 15%, alpha($secondary, 0) 100%)
	#mainSelector, #smallSelector
		.groupSelector
			ul.selector
				li
					&::after
						background $primary
		ul.selector.is-selecting
			cursor url('../../images/close-w.png') 8 8, default
			li
				cursor url('../../images/close-w.png') 8 8, default
	#page-content
		section.interview-section
			.question
				&::before
					content url(../../images/itw-arrow-w.svg)

body.loaded
	overflow initial

body.leaving
	cursor wait
	#mainSelector, #smallSelector
		.groupSelector
			ul.selector.is-selecting
				cursor wait
				li
					cursor wait