#selectorSubmit
	cursor pointer

#mainSelector
	position relative
	text-align center
	height 100vh
	#selectorTitle, #selectorSubmit, #selectorHelp
		position absolute
		width 100%
		left 0
	#selectorTitle
		top 20%
	#selectorSubmit
		bottom 20%
	#selectorHelp
		bottom $padding
	.groupSelector
		span(1/3)
		height 100vh
		ul
			position relative
			z-index 100

#smallSelector
	padding ($padding/2) 0
	#selectorTitle, #selectorSubmit
		span(1/8)
		position relative
		z-index 10
	.groupSelector
		span(1/4)

#mainSelector, #smallSelector
	.groupSelector
		text-align center
		flexbox()
		justify-content center
		align-items center
		flex-direction column
		ul.selector
			position relative
			z-index 100
			li
				//transition(color 200ms ease)
				cursor pointer
				position relative
				&::after
					content ''
					position absolute
					width calc(100% + .2em)
					height 100%
					background $secondary
					top -.15em
					left -.1em
					z-index -1
					transform-origin bottom
					transform(scaleY(0))
				&:not(.selected)
					display none
				&.selected::after
					transform(scaleY(0.05))
				&:hover:not(.selected)
					color $primary
					&::after
						// transition(transform 200ms $kinetic)
						// transition-delay(100ms)
						transform(scaleY(1))
				&.selected:not([default])::after
					//transform(scaleY(1))
				
		ul.selector.is-selecting
			cursor url('../../images/close-b.png') 8 8, default
			li
				cursor url('../../images/close-b.png') 8 8, default
		ul.selector:not(.is-selecting):hover
			li[default]
				display none
			li
				display block